<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- YOUR CSS -->
    <link rel="stylesheet" href="{% static 'enroll/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/style.css' %}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}Fintext{% endblock title %}</title>
</head>

<body class="bg-white">

<!-- ===========================================================
     DESKTOP NAVBAR 
=========================================================== -->
<header class="hidden md:flex fixed top-0 left-0 w-full z-50 bg-transparent  py-4">
    <nav class="w-[95%] max-w-[1400px] mx-auto flex justify-between items-center px-6 py-4 bg-white border-2 border-gray-400 rounded-2xl">

        <!-- LOGO -->
        <div class="text-3xl font-bold text-blue-800 tracking-wide">FINTEXT</div>

        <!-- MENU -->
        <ul class="flex gap-10 text-blue-900 text-[18px] font-[Rubik]">
            {% if not request.user.is_authenticated %}
                <li><a href="{% url 'home' %}" class="hover:text-blue-600">Home</a></li>
            {% endif %}
            <li><a href="#features" class="hover:text-blue-600">Features</a></li>
            <li><a href="#process" class="hover:text-blue-600">Process</a></li>
            <li><a href="{% url "FAQ" %}" class="hover:text-blue-600">FAQ</a></li>
        </ul>

        <!-- LOGIN / REGISTER -->
        <ul class="flex items-center gap-6 text-blue-900 text-[18px] font-[Rubik]">

            {% if request.user.is_authenticated %}
            
            <!-- USER DROPDOWN -->
            <li class="relative group cursor-pointer">

                <div class="px-10 py-1 bg-linear-to-r from-blue-600 to-purple-600 text-white rounded-lg shadow-md card">
                    {{ request.user.username|upper }}
                </div>

                <div class="absolute right-0 mt-2 w-fit bg-white rounded-xl shadow-xl opacity-0 invisible 
                            group-hover:opacity-100 group-hover:visible transition-all duration-300">

                    <div class="px-4 py-3 text-gray-600 border-b ">{{request.user.email}}</div>

                    <a href="{% url 'logout' %}" 
                       class="block px-4 py-3 hover:bg-blue-600 hover:text-white rounded-b-xl transition">
                        Logout
                    </a>
                </div>

            </li>

            {% else %}

            <li>
                <a href="{% url 'login' %}" class="hover:text-blue-700 flex items-center gap-2">
                    <i class="fa-regular fa-user"></i> Login
                </a>
            </li>

            <li>
                <a href="{% url 'signup' %}" 
                   class="px-6 py-2 bg-blue-300 from-blue-600 to-purple-600 text-white rounded-lg shadow-md card">
                    Sign up
                </a>
            </li>

            {% endif %}
        </ul>
    </nav>
</header>



<!-- ===========================================================
     MOBILE NAVBAR (SIDEBAR + HAMBURGER)
=========================================================== -->
<header class="w-full fixed top-0 left-0 z-50 bg-white shadow-md md:hidden">
    <div class="flex justify-between items-center px-5 py-4">
        <h1 class="text-2xl font-bold text-blue-700">FINTEXT</h1>

        <button id="openMenu" class="text-3xl text-gray-700">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>

<!-- OVERLAY -->
<div id="overlay" class="hidden fixed inset-0 bg-black/40 z-40 transition-opacity duration-300"></div>

<!-- SIDEBAR -->
<aside id="sidebar"
    class="fixed top-0 left-0 w-[260px] h-full bg-white shadow-xl z-50 -translate-x-full 
           transition-transform duration-300">

    <div class="flex justify-between items-center px-5 py-4 border-b">
        <h2 class="text-xl font-bold text-gray-700">Menu</h2>
        <button id="closeMenu" class="text-3xl"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <nav class="flex flex-col gap-4 px-6 py-6 text-gray-700 text-[18px] font-[Rubik]">
        {% if request.user.is_authenticated == False %}<a href="/" class="hover:text-blue-600">Home</a>{% endif %}
        <a href="#features" class="hover:text-blue-600">Features</a>
        <a href="#process" class="hover:text-blue-600">How It Works</a>
        <a href="{% url 'FAQ' %}" class="hover:text-blue-600">FAQ</a>
    </nav>

    <div class="px-6 mt-6 flex flex-col gap-3 pb-20">
        {% if request.user.is_authenticated %}
            <div class="px-4 py-2 bg-gray-200 rounded-lg text-gray-700">{{ request.user.email }}</div>
            <a href="{% url 'logout' %}">
                <button class="py-2 bg-red-600 text-white rounded-lg w-full">Logout</button>
            </a>
        {% else %}
            <a href="{% url 'login' %}">
                <button class="py-2 border border-gray-700 rounded-lg w-full">Login</button>
            </a>
            <a href="{% url 'signup' %}">
                <button class="py-2 bg-blue-700 text-white rounded-lg w-full">Register</button>
            </a>
        {% endif %}
    </div>
</aside>


<!-- SIDEBAR JS -->
<script>
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("overlay");
    const openMenu = document.getElementById("openMenu");
    const closeMenu = document.getElementById("closeMenu");

    openMenu.addEventListener("click", () => {
        sidebar.classList.remove("-translate-x-full");
        overlay.classList.remove("hidden");
    });

    closeMenu.addEventListener("click", () => {
        sidebar.classList.add("-translate-x-full");
        overlay.classList.add("hidden");
    });

    overlay.addEventListener("click", () => {
        sidebar.classList.add("-translate-x-full");
        overlay.classList.add("hidden");
    });
</script>


<!-- ===========================================================
     CONTENT BLOCK
=========================================================== -->
{% comment %} <div class="pt-24 md:pt-32"> {% endcomment %}
    {% block content %}{% endblock content %}
</div>




<!-- Main Footer -->
<footer class="w-full bg-white pt-14 border-t border-gray-200 mt-20">

  <div class="max-w-7xl mx-auto px-6 lg:px-12">

    <!-- Grid Columns -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 text-gray-700 text-center  ">

      <!-- Product -->
      <div class= 'text-left'>
        <h3 class="font-semibold text-lg mb-4">Product</h3>
        <ul class="space-y-2 text-gray-600">
          <li class="hover:text-black cursor-pointer">Features</li>
          <li class="hover:text-black cursor-pointer">Pricing</li>
          <li class="hover:text-black cursor-pointer">API</li>
          <li class="hover:text-black cursor-pointer">Integrations</li>
        </ul>
      </div>

      <!-- Support -->
      <div class= 'text-left'>
        <h3 class="font-semibold text-lg mb-4">Support</h3>
        <ul class="space-y-2 text-gray-600">
          <li class="hover:text-black cursor-pointer">Help Center</li>
          <li class="hover:text-black cursor-pointer">Contact Us</li>
          <li class="hover:text-black cursor-pointer">Status</li>
          <li class="hover:text-black cursor-pointer">Community</li>
        </ul>
      </div>

      <!-- Company -->
      <div class= 'text-left'>
        <h3 class="font-semibold text-lg mb-4">Company</h3>
        <ul class="space-y-2 text-gray-600">
          <li class="hover:text-black cursor-pointer">About</li>
          <li class="hover:text-black cursor-pointer">Blog</li>
          <li class="hover:text-black cursor-pointer">Careers</li>
          <li class="hover:text-black cursor-pointer">For The Enterprise</li>
        </ul>
      </div>

    </div>
  </div>

  <!-- Bottom Black Bar -->
  <!-- Bottom Bar -->
  <div class="w-full card text-white mt-10">
    <div class="max-w-7xl mx-auto px-6 lg:px-12 py-6 flex flex-col md:flex-row justify-between items-center gap-4">

      <!-- Logo + Copyright -->
      <div class="flex items-center gap-2">
        <span class="text-xl font-semibold tracking-wide">FinText.</span>
        <span class="text-gray-300">© 2025 FinText. All rights reserved.</span>
      </div>

      <!-- Links -->
      <div class="flex gap-8 text-gray-300 text-sm">
        <a href="#" class="hover:text-white">Privacy Notice</a>
        <a href="#" class="hover:text-white">Terms of Service</a>
        <a href="#" class="hover:text-white">Status</a>
      </div>

    </div>
  </div>
</footer>

</body>
</html>
