{% load static %}

<head>
    <link rel="stylesheet" href="{% static './enroll/css/main.css' %}">
    <link rel="stylesheet" href="{% static './enroll/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<div class="w-full h-screen bg-slate-100 flex justify-center items-center">
    <div class="bg-white p-10 rounded shadow-lg flex flex-col items-center gap-4  w-[30%]">
        
        <h2 class="text-2xl font-bold mb-2 text-gray-800" style ="font-family:Arial">Enter Verification OTP</h2>
        <p class="text-gray-600 text-sm">We have sent a 6-digit OTP to your email</p>

        <form method="POST" class="flex flex-col gap-4 w-full items-center ">
            {% csrf_token %}
            
            <input 
                type="text" 
                name="otp" 
                maxlength="6"
                placeholder="Enter OTP"
                class="p-2 border rounded text-center tracking-widest text-lg outline-none focus:border-blue-600 w-full"
            >

            <button 
                class="bg-blue-600 text-white p-2 rounded  font-medium hover:bg-blue-700 transition w-full card">
                Verify OTP
            </button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p class="text-red-700 mt-2">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>
