{% load static %}

<head>
    <link rel="stylesheet" href="{% static './enroll/css/main.css' %}">
    <link rel="stylesheet" href="{% static './enroll/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<div class="w-full h-screen bg-slate-100 flex justify-center items-center">
    <div class="bg-white p-10 rounded shadow-lg flex flex-col items-center gap-4 w-[30%]">

        <h2 class="text-2xl font-bold mb-2 text-gray-800">Set New Password</h2>
        <p class="text-gray-600 text-sm text-center">Enter your new password and confirm it below</p>

        <form method="POST" class="flex flex-col gap-4 w-full">
            {% csrf_token %}

            <!-- NEW PASSWORD -->
            <div class="flex relative">
                <input 
                    id="new_password_field"
                    type="password" 
                    name="new_password" 
                    placeholder="New Password"
                    class="p-2 border rounded w-full outline-none focus:border-blue-600"
                >
                <i class="fa-solid fa-eye-slash absolute right-3 top-1/2 -translate-y-1/2 text-[20px] text-gray-400 cursor-pointer"
                   onclick="togglePassword('new_password_field', this)"></i>
            </div>

            <!-- CONFIRM PASSWORD -->
            <div class="flex relative">
                <input 
                    id="confirm_password_field"
                    type="password" 
                    name="confirm_password" 
                    placeholder="Confirm Password"
                    class="p-2 border rounded w-full outline-none focus:border-blue-600"
                >
                <i class="fa-solid fa-eye-slash absolute right-3 top-1/2 -translate-y-1/2 text-[20px] text-gray-400 cursor-pointer"
                   onclick="togglePassword('confirm_password_field', this)"></i>
            </div>

            <button 
                class="bg-blue-600 text-white p-2 rounded w-full font-medium hover:bg-blue-700 transition card">
                Update Password
            </button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <p class="text-red-700 mt-2">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>

<script>
function togglePassword(fieldId, iconElement) {
    const input = document.getElementById(fieldId);

    if (input.type === "password") {
        input.type = "text";
        iconElement.classList.remove("fa-eye-slash");
        iconElement.classList.add("fa-eye");
    } else {
        input.type = "password";
        iconElement.classList.remove("fa-eye");
        iconElement.classList.add("fa-eye-slash");
    }
}
</script>
