{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
<head>
     <link rel="stylesheet" href="{% static './enroll/css/main.css' %}">
    <link rel="stylesheet" href="{% static './enroll/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
{% block content %}
    <div class='w-full h-full flex'>
        <div class='flex w-[50%]'>
            <img src="{% static './enroll/images/hero2.jpg' %}" alt="">
        </div>
        <div class='flex flex-col w-[50%] h-full justify-start items-start pt-10 pl-30 gap-5 bg-[#f6f4f4c3]'>
        <a href="{% url "home" %}">
            <div class='py-3 flex justify-center items-baseline text-blue-400 text-[18px] gap-[5px]  border-2 px-3 rounded-[50%] w-fit ml-[-100px] mb-5'><i class="fa-solid fa-arrow-left"></i></div>
        </a>
        <h1 class=' text-gray-800 text-3xl  font-[Fira Code] font-bold mt-5'>Let's get started</h1>
        <form action="" method='POST' novalidate class='w-fit '>
            {% csrf_token %}
                    {% for fm in form %}
                        <div class='flex-col'>
                            <div class='mt-2 font text-gray-600 font-[Open Sans]'>{{fm.label_tag}}</div>
                            <div class='flex flex-col'>
                                <div class='flex relative'>
                                
                                <input id="{{ fm.name }}_field"
                                    type="{{ fm.field.widget.input_type }}"
                                    name="{{ fm.name }}"
                                    value="{{ fm.value|default:'' }}"
                                    class="w-[400px] p-2  outline-none border rounded-[5px] border-gray-300 focus:border-blue-600 focus:border-2 transition mt-1" />
                                {% if fm.name == "username" %}
                                    <i class="fa-solid fa-user absolute right-2 top-4 text-[20px] text-gray-400  "></i>
                                {% elif fm.name == "email" %}
                                    <i class="fa-solid fa-envelope absolute right-2 top-4 text-[20px] text-gray-400"></i>
                                {% elif fm.name == "password1" %}
                                    <i class="fa-solid fa-eye-slash absolute right-3 top-1/2 -translate-y-1/2 text-[20px] text-gray-400 cursor-pointer" onclick="togglePassword('{{ fm.name }}_field', this)"></i>
                                {% elif fm.name == "password2" %}
                                    <i class="fa-solid fa-eye-slash absolute right-3 top-1/2 -translate-y-1/2 text-[20px] text-gray-400 cursor-pointer" onclick="togglePassword('{{ fm.name }}_field', this)"></i>
                                {% endif %}
                                </div>
                                <small class='text-red-800'>{{fm.errors|striptags}}</small>
                                
                            </div>
                        </div>
                            
                    {% endfor %}

                        {% if messages %}
                        {% for message in messages %}
                            <small {% if message.tags %} class=' block text-1xl bg-green-100 p-3 mt-3 text-green-900 rounded-1xl'{% endif %}>{{message}}</small>
                        {% endfor %}
                        {% endif %} 

                        {% comment %} <small class='block text-1xl bg-green-100 p-3 mt-3 text-green-900 rounded-1xl'>Registered Succesfully</small> {% endcomment %}
                    <div><input type="submit" value='Submit' class='w-[400px] h-10  p-1 card cursor-pointer mt-5  text-gray-100 rounded-[5px]' >
                        </div>
            
                        
             <div class='flex items-center justify-center mt-10'>
                <div class='w-[100%] h-0.5 border-b-2 border-b-gray-300 '></div>   
                <div class='pl-3 pr-3 text-gray-600'>OR</div>
                <div class='w-[100%] h-0.5 border-b-2 border-b-gray-300 '></div>
            </div>

           
            <div class='flex justify-center items-center'>Already have an account? <a href="{% url "login" %}" class='block  p-2  text-blue-600 font-bold'>Login</a></div>
        </form>
    </div>
    </div>









    <script>
function togglePassword(fieldId, iconElement) {
    const input = document.getElementById(fieldId);

    // Agar hidden hai → show kro
    if (input.type === "password") {
        input.type = "text";   // password visible
        iconElement.classList.remove("fa-eye-slash");
        iconElement.classList.add("fa-eye");
    } 
    // Agar visible hai → hide kro
    else {
        input.type = "password";  // password hidden
        iconElement.classList.remove("fa-eye");
        iconElement.classList.add("fa-eye-slash");
    }
}
</script>

{% endblock content %}