{% comment %} {% extends "base.html" %} {% endcomment %}
{% load static %}
<head>
     <link rel="stylesheet" href="{% static './enroll/css/main.css' %}">
    <link rel="stylesheet" href="{% static './enroll/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>


 {% block content %}
    <div class='w-full h-full flex'>
        <div class='flex w-[50%] relative'>
            <img src="{% static './enroll/images/hero2.jpg' %}" alt="">
        </div>
        <div class='flex flex-col w-[50%] h-full justify-center items-center   bg-[#f6f4f4c3] gap-5 '>
            <a href="{% url "home" %}">
            <div class='py-3 flex justify-start items-baseline text-blue-400 text-[18px] gap-[5px]  border-2 px-3 rounded-[50%] w-fit ml-[-364px] mt-[-89px]'><i class="fa-solid fa-arrow-left"></i></div>
            </a>
            <div class='flex flex-col  gap-2 pb-7 ml-[-150px]'>
                <h1 class=' text-gray-800 text-2xl  font-[Fira Code] font-bold'>Log into your account</h1>
                <p>Please enter your details</p>
            </div>
        <form action="" method='POST' novalidate class='w-fit '>
            {% csrf_token %}
                    {% for fm in form %}
                        <div class='flex-col'>
                            <div class='mt-2 font text-gray-600'>{{fm.label_tag}}</div>
                            <div class='flex flex-col'>
                                <div class='flex relative'>
                                    <input id="{{ fm.name }}_field"
                                    type="{{ fm.field.widget.input_type }}"
                                    name="{{ fm.name }}"
                                    value="{{ fm.value|default:'' }}"
                                    class="w-[400px] p-2  outline-none border rounded-[5px] border-gray-300 focus:border-blue-600 focus:border-2 transition mt-1" />

                                {% if fm.name == "username" %}
                                    <i class="fa-solid fa-user absolute right-2 top-4 text-[20px] text-gray-400"></i>
                                {% elif fm.name == "email" %}
                                    <i class="fa-solid fa-envelope absolute right-2 top-4 text-[20px] text-gray-400"></i>
                                {% elif fm.name == "password" %}
                                    <i class="fa-solid fa-eye-slash absolute right-3 top-1/2 -translate-y-1/2 text-[20px] text-gray-400 cursor-pointer" onclick="togglePassword('{{ fm.name }}_field', this)"></i>
                                
                                {% endif %}
                            </div>
                            <small class='text-red-800'>
                                {{fm.errors|striptags}}</small>
                                
                            </div>
                        </div>
                            
                    {% endfor %}

                    <a href="{% url 'forgot_password' %}" 
   class="w-full block text-blue-700 text-right text-[12px] font-medium">
   Forgot Password ?
</a>
                    <div><input type="submit" value="Let's Login" class='w-[400px] h-10  p-1 bg-blue-600 text-white rounded-[5px] border border-white outline-0 cursor-pointer card mt-5'>
                        </div>
            

            <div class='flex items-center justify-center mt-10'>
                <div class='w-full h-0.5 border-b-2 border-b-gray-300 '></div>   
                <div class='pl-3 pr-3 text-gray-600'>OR</div>
                <div class='w-full h-0.5 border-b-2 border-b-gray-300 '></div>
            </div>




        </form>

                <div class='flex justify-center items-center'>Don't have an account? <a href="{% url "signup" %}" class='block  p-2  text-blue-600 font-bold'>Sign up</a></div>



                {% if messages %}
    {% for message in messages %}
        {% if message.tags != "success" %}

<div id="toast-box"
     class='w-[400px] flex bg-red-600 text-[15px] text-red-100 px-2 py-3  
            justify-start gap-3 items-center rounded-[10px] fixed right-2 bottom-2
            translate-x-full opacity-0 transition-all duration-500 z-[9999]'>

    <div>
        <i class="fa-regular fa-circle-xmark text-3xl"></i>
    </div>

    <div class='w-full flex flex-col'>
        <div class='w-full font-bold flex justify-between'>
            ERROR 
            <div><i id="toast-close" class="fa-solid fa-xmark cursor-pointer"></i></div>
        </div>

        <div>
            <small>{{ message }}</small>
        </div>
    </div>

</div>

        {% endif %}
    {% endfor %}
{% endif %}

    </div>
    </div>







    

    <script>

window.addEventListener("load", function () {
    const box = document.getElementById("toast-box");
    const closeBtn = document.getElementById("toast-close");

    if (!box || !closeBtn) return;

    // slide-in animation
    setTimeout(() => {
        box.classList.remove("translate-x-full", "opacity-0");
    }, 50);

    // close button hides toast
    closeBtn.addEventListener("click", () => {
        box.classList.add("translate-x-full", "opacity-0");
    });

    // auto hide
    setTimeout(() => {
        box.classList.add("translate-x-full", "opacity-0");
    }, 3000);
});



function togglePassword(fieldId, iconElement) {
    const input = document.getElementById(fieldId);

    // Agar hidden hai → show kro
    if (input.type === "password") {
        input.type = "text";   // password visible
        iconElement.classList.remove("fa-eye-slash");
        iconElement.classList.add("fa-eye");
    } 
    // Agar visible hai → hide kro
    else {
        input.type = "password";  // password hidden
        iconElement.classList.remove("fa-eye");
        iconElement.classList.add("fa-eye-slash");
    }
}
</script>
{% endblock content %}