@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.card{
    background: linear-gradient(to left, hsl(229, 100%, 55%), #7818d2);
    --webkit-background-clip: text;
    --webkit-text-fill-color: transparent;
}

.shadowCss{
    
    box-shadow:10px 0px 5px 2px rgb(210, 210, 210);
}
.processcard{
   border: 3px solid transparent;
  border-radius: 12px;
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(to left, hsl(229, 100%, 55%), #7818d2) border-box;
    box-shadow:10px 10px 5px 2px rgb(227, 227, 227);
}



#tableResult {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

#tableResult.show {
    opacity: 1;
    transform: translateY(0px);
}



.fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards;
}








#processingBar {
    background: #d6ecff;   /* Light blue background */
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    height: 16px;
}

/* Moving Stripes */
.barFlow {
    height: 100%;
    width: 300%;   /* Extra width → Marquee effect */
    background: repeating-linear-gradient(
        45deg,
        #1e90ff 0,
        #1e90ff 14px,
        #0b63c1 14px,
        #0b63c1 28px
    );
    animation: stripeFlow 7s linear infinite;
}

/* Seamless motion (Left → Right) */
@keyframes stripeFlow {
    0% { transform: translateX(-33%); }
    100% { transform: translateX(0%); }
}




        /* FIX: Prevent background from stretching */
.hero-bg {
    background-image: url('{% static "enroll/images/hero3.jpg" %}');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}


#dropArea {
    transition: height 0.35s ease-in-out;
}

.shrinkHeight {
    height: 130px !important;   /* Tumhari 220px height ka 60% approx */
}